.header{
    height: 450px;
    width: 100%;
    background: rgb(63,52,107);
    position: relative;
}

.header__texture{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: url('../img/IMG.JPG') center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.6;
}

.header__mask{
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;
}

.header__navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__navbar--logo-title{
    color: #fff;
    font-size: 28px;
}

.header__navbar--menu-link{
    margin-left: 40px;
    color: #fff;
    text-decoration: none;
}
.header__slogan{
    text-align: center;
    margin-top: 60px;
}

.h__slogan--title{
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Anton';
    font-style: italic;
    letter-spacing: 2px;
}
.h__slogan--btn{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    background: #e67e22;
    border-radius: 30px;
}

.header__navbar-toggle{
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    display: none;
    cursor: pointer;
}
.header__navbar-toggle-icons, .header__navbar-toggle-icons:before, .header__navbar-toggle-icons:after{
   content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    position: relative;
}
.header__navbar-toggle-icons:before{top: 10px;}
.header__navbar-toggle-icons:after{top: -14px;}

.is-open .header__navbar--menu{
    transform: translateY(0);
}

@media only screen and (max-width:600px){
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .header__navbar-toggle{
        display: flex;
        z-index: 1000;
    }
    .header__navbar--menu{
        transition: all 0.3s ease-in-out;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background:#e67e22;
        top: 0; left: 0;
    }
    .header__navbar--menu-link{
        margin: 20px 0;
        font-size: 24px;
    }
    .h__slogan--title{
        font-size: 40px;
    }
}